/* GENERAL SETTINGS */

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

#container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-section {
  width: 100vw;
  height: 100vh;
  margin-top: -15px;
}

/* MAIN NAVIGATION MENU */

#navbar {
  display: flex;
  margin: -5px 0px;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
}

/* Logo */
#logo-placeholder {
  width: 30vw;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

#logo-image {
  width: 90px;
}

#logo-text {
  font-size: 3em;
  text-decoration: none;
  color: rgba(1, 1, 1, 1);
}

#logo-text:hover {
  color: rgba(1, 1, 1, 0.6);
}

/* Navigation menu */
#main-navigation-list {
  width: 70vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-navigation-items {
  list-style: none;
}

.main-navigation-items a {
  color: rgba(1, 1, 1, 1);
  text-decoration: none;
  font-size: 2em;
  margin-right: 40px;
}

.main-navigation-items a:hover {
  color: rgba(1, 1, 1, 0.6);
}

#contact {
  margin-right: 50px;
}

/* ANNOUNCEMENT BAR */
#status-header {
  text-align: center;
  width: 100%;
  background-color: rgb(92, 216, 158);
  margin: 145px 0px 20px 0px;
}

#status-announcement {
  font-size: 0.9em;
  color: white;
  padding: 5px 0px 10px;
  font-weight: 500;
}

/* CONTAINER */

/* Jumbotron */
#jumbotron {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#hero-section {
  width: 85%;
}

/* MOBILE RESPONSIVENESS */

/* 1000px */
@media only screen and (max-width: 1000px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  #logo-placeholder {
    width: 100vw;
    padding-left: 0px;
    justify-content: center;
    margin-bottom: -10px;
  }

  #main-navigation-list {
    width: 100vw;
    justify-content: center;
  }

  #contact {
    margin-right: 0px;
  }

  #logo-image {
    width: 80px;
  }

  #logo-text {
    font-size: 2.5em;
    text-decoration: none;
    color: rgba(1, 1, 1, 1);
  }

  .main-navigation-items {
    margin-top: -10px;
  }

  .main-navigation-items a {
    font-size: 1.8em;
    margin: 0px 30px;
  }

  #status-header {
    margin: 145px 0px 20px 0px;
  }

  #welcome-section {
    margin-top: 0px;
  }
}

/* 400px */
@media only screen and (max-width: 420px) {
  #logo-placeholder {
    margin-right: 60px;
  }

  #logo-image {
    width: 70px;
  }

  #logo-text {
    font-size: 1.5em;
    text-decoration: none;
    color: rgba(1, 1, 1, 1);
  }

  .main-navigation-items a {
    font-size: 1em;
    margin: 0px 15px;
  }
}
